[submodule "Math/Libraries/GCExpressionParser"]
	path = Math/Libraries/GCExpressionParser
	url = git@github.com:jbrennan/GCExpressionParser.git
[submodule "Math/Libraries/parsekit"]
	path = Math/Libraries/parsekit
	url = git://github.com/jbrennan/parsekit.git
[submodule "Math/Libraries/CocoaToolbox"]
	path = Math/Libraries/CocoaToolbox
	url = git@github.com:jbrennan/CocoaToolbox.git
[submodule "Math/Libraries/ExpressionParser"]
	path = Math/Libraries/ExpressionParser
	url = git@github.com:jbrennan/BrennanExpressionParser.git
